@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply px-4 py-1 border rounded border-violet-500 text-violet-500 hover:bg-violet-500 hover:border-violet-700 hover:text-neutral-50 ease-in-out;
  }
  .btn-destructive {
    @apply px-4 py-1 border rounded border-red-500 text-red-500 hover:bg-red-500 hover:border-red-700 hover:text-neutral-50 ease-in-out;
  }
  .input-primary {
    @apply rounded px-4 py-2 focus:outline focus:outline-2 focus:outline-violet-500 bg-neutral-900 text-neutral-50
  }
  .input-faild {
    @apply text-neutral-50 rounded px-4 py-2 outline outline-2 outline-red-500 bg-neutral-900
  }
  .link {
    @apply text-violet-500 border-violet-500 hover:border-b focus:border-b 
  }
  .link-secundary {
    @apply hover:border-b focus:border-b hover:text-violet-500 border-violet-500 
  }
  .link-active {
    @apply text-violet-500 border-violet-500 border-b
  }
  .main-head {
    @apply text-4xl font-bold
  }
}

:root {
  --foreground-rgb: #171717;
  --background-rgb: #fafafa;

  /*--foreground-rgb: #fafafa;
  --background-start-rgb: #171717;
  --background-end-rgb: #171717;*/
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: #fafafa;
    --background-rgb: #171717;

  }
}

body {
  color: var(--foreground-rgb);
  background: var(--background-rgb);
  /*background: linear-gradient(
      to bottom,
      transparent,
      var(--background-end-rgb)
    )
    var(--background-start-rgb)*/
}

html {
  scrollbar-width: thin; 
  scrollbar-color: #fafafa transparent; 
}